@{
    ViewBag.Title = "Administracion Base de Datos Northwind";
}

@*<h2 class="table" style="text-align:center; color:red;">@ViewBag.Title</h2>*@

<div class="row">
    <div style="text-align:center">
        <img src="~/img/NW.jpg" />
    </div>
</div>