@model Lab.Capas.MVC.Models.RegionView

@{
    ViewBag.Title = "Editar Region";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Region", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.LabelFor(d => d.Descripcion)
                @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "red" })
            </div>
            <br />
            <div style="text-align:left;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>

}